<h1>Pessoas</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Data nascimento</th>
      <th>CPF</th>
      <th>Sexo</th>
      <th>Altura</th>
      <th>Peso</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of peoples">
      <td><a href="#" (click)="getPerson(person)" > {{ person.name }}</a></td>
      <td>{{ person.birth_date }}</td>
      <td>{{ person.cpf }}</td>
      <td>{{ person.sex }}</td>
      <td>{{ person.height }}</td>
      <td>{{ person.weight }}</td>
    </tr>
  </tbody>
</table>

<br><br>
<p> {{ selected_person.name }} </p>
<p> {{ selected_person.cpf }} </p>



<router-outlet></router-outlet>